
<div class="text-center">
  <h2>Here are all the <strong id="red-word">upcoming rentals</strong>!</h2>
</div>
<% @bookings.each do |booking| %>
  <% if booking.starting_on > Date.today %>
    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'><%= booking.status %></div>
      </div>
      <%= cl_image_tag booking.toothbrush.photo, crop: :fill, widht: 100, height: 100,  class: "product-image hidden-xs"  %>
      <div class='product-body description'>
        <h3><%= booking.toothbrush.name %></h3>
        <p> <%= truncate( booking.toothbrush.description, length: 100)  %> </p>
      </div>
      <div class='product-body'>
        <h3>Date</h3>
        <p><%= booking.starting_on %>
          <br> until <br>
         <%= booking.ending_on %> </p>
      </div>
      <div class='product-body'>
        <h3>People</h3>
        <p><%= booking.toothbrush.people %></p>
      </div>
      <div class='product-body'>
        <h3>Material</h3>
        <p><%= booking.toothbrush.material %></p>
      </div>
      <div class='product-body'>
        <h3>Total price</h3>
        <p><%= booking.total_price %></p>
      </div>
      <% unless booking.status == "Canceled" %>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li>
            <div class="btn btn-custom text-center">
              <%= link_to "Delete", booking_path(booking), method: :delete %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      <h2>Here are all the <strong id="red-word">past rentals</strong>!</h2>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'><%= booking.status %></div>
      </div>
      <%= cl_image_tag booking.toothbrush.photo, crop: :fill, widht: 100, height: 100,  class: "product-image hidden-xs"  %>
      <div class='product-body description'>
        <h3><%= booking.toothbrush.name %></h3>
        <p> <%= truncate( booking.toothbrush.description, length: 100)  %> </p>
      </div>
      <div class='product-body'>
        <h3>Date</h3>
        <p><%= booking.starting_on %>
          <br> until <br>
         <%= booking.ending_on %></p>
      </div>
      <div class='product-body'>
        <h3>People</h3>
        <p><%= booking.toothbrush.people %></p>
      </div>
      <div class='product-body'>
        <h3>Material</h3>
        <p><%= booking.toothbrush.material %></p>
      </div>
      <div class='product-body'>
        <h3>Total price</h3>
        <p><%= booking.total_price %></p>
      </div>
        <% if booking.review %>
        <button type="button" class="btn btn-custom text-center" data-toggle="modal" data-target="#showReviewModal">See review</button>
          <%= render 'reviews/show', booking: booking %>
      <%  else %>
        <button type="button" class="btn btn-custom text-center" data-toggle="modal" data-target="#reviewModal">Add a review</button>
          <%= render 'reviews/form', booking: booking, review: @review %>
      <% end %>
    </div>
  <% end %>
<% end %>
