<div class="booking-index">
<div class="text-center">
  <h2>Here are all the <strong id="red-word">upcoming rentals</strong>!</h2>
</div>
<% @bookings.each do |booking| %>
  <% if booking.starting_on > Date.today %>
    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'><%= booking.status %></div>
      </div>
      <%= cl_image_tag booking.toothbrush.photo, crop: :fill, widht: 100, height: 100,  class: "product-image hidden-xs"  %>
      <div class='product-body description'>
        <h3><%= booking.toothbrush.name %></h3>
        <p> <%= truncate( booking.toothbrush.description, length: 100)  %> </p>
      </div>
      <div class='product-body'>
        <h3>Age</h3>
        <p><%= booking.toothbrush.age %> days</p>
      </div>
      <div class='product-body'>
        <h3>People</h3>
        <p><%= booking.toothbrush.people %></p>
      </div>
      <div class='product-body'>
        <h3>Material</h3>
        <p><%= booking.toothbrush.material %></p>
      </div>
      <div class='product-body'>
        <h3>Total price</h3>
        <p><%= booking.total_price %></p>
      </div>
      <% unless booking.status == "Canceled" %>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li>
            <div class="btn btn-custom text-center">
              <%= link_to "Delete", booking_path(booking), method: :delete %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      <h2>Here are all the <strong id="red-word">past rentals</strong>!</h2>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'><%= booking.status %></div>
      </div>
      <%= cl_image_tag booking.toothbrush.photo, crop: :fill, widht: 100, height: 100,  class: "product-image hidden-xs"  %>
      <div class='product-body description'>
        <h3><%= booking.toothbrush.name %></h3>
        <p> <%= truncate( booking.toothbrush.description, length: 100)  %> </p>
      </div>
      <div class='product-body'>
        <h3>Age</h3>
        <p><%= booking.toothbrush.age %> days</p>
      </div>
      <div class='product-body'>
        <h3>People</h3>
        <p><%= booking.toothbrush.people %></p>
      </div>
      <div class='product-body'>
        <h3>Material</h3>
        <p><%= booking.toothbrush.material %></p>
      </div>
      <div class='product-body'>
        <h3>Total price</h3>
        <p><%= booking.total_price %></p>
      </div>
        <% if booking.review %>
        <div class="text-center">
          <div class="review-coment">
            <% review.rating.times do %>
            <i class="fa fa-star" aria-hidden="true" ></i>
            <% end %>
            <% (5- review.rating).times do %>
            <i class="far fa-star" aria-hidden="true"></i>
            <% end %>
            <p> <%= review.content %> </p>
          </div>
        </div>
      <%  else %>
        <div class="text-center review">
          <%= render 'reviews/form', booking: booking, review: @review %>
        </div>
      <% end %>
  <% end %>
  </div>
<% end %>
</div>
