<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
 <div class="title">
   <h1>Update your information🧐</h1>
 </div>
 <div class="form">
    <%= simple_form_for @user do |f| %>
      <%= f.input :first_name, placeholder: "Tuan" %>
      <%= f.input :last_name, placeholder: "Perera"  %>
      <%= f.input :gender, collection: ["Female", "Male", "Other"]  %>
      <%= f.input :address, placeholder: "Simon-dachstrasse 50" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, { class: "btn btn-custom" }  %>
    <% end %>
    </div>
    </div>
  </div>
</div>
