<div class="container">
  <h1>Change your Profile information</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name, placeholder: "Tuan" %>
    <%= f.input :last_name, placeholder: "Perera"  %>
    <%= f.input :gender, collection: ["Female", "Male", "Other"]  %>
    <%= f.input :address, placeholder: "Simon-dachstrasse 50" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  <% end %>
</div>
