<div class="booking-index">
<div class="text-center">

  <h2>Here are all the <strong id="red-word">toothbrushes</strong> you are sharing!</h2>
</div>
<% @toothbrushes.each do |toothbrush| %>

<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'><%= toothbrush.uses %></div>
  </div>
  <%= cl_image_tag toothbrush.photo, crop: :fill, class: "product-image hidden-xs"  %>
  <div class='product-body'>
    <h3><%= toothbrush.name %></h3>
    <p><%= toothbrush.description %></p>
  </div>
  <div class='product-body'>
    <h3>Age</h3>
    <p><%= toothbrush.age %> days</p>
  </div>
  <div class='product-body'>
    <h3>People</h3>
    <p><%= toothbrush.people %></p>
  </div>
  <div class='product-body'>
    <h3>Material</h3>
    <p><%= toothbrush.material %></p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li>
      <div class="btn btn-custom text-center">
        <%= link_to "Edit", edit_toothbrush_path(toothbrush) %>
      </div>
    </li>
    <li>
      <div class="btn btn-custom text-center">
        <%= link_to "Delete", toothbrush_path(toothbrush), method: :delete %>
      </div>
    </li>
  </ul>
</div>
<% end %>
</div>
