<div class="banner" style="background-image: url('<%= image_url "https://source.unsplash.com/1600x900/?toothbrush" %>');">
  <div class="banner-content">
    <h1>Edit <%= @toothbrush.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <%= simple_form_for @toothbrush do |f|%>
          <%= f.input :name %>
          <%= f.input :age %>
          <%= f.input :uses %>
          <%= f.input :people %>
          <%= f.input :material %>
          <%= f.input :brush_strength %>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

