<% @review.each do |review| %>
<div class="review">
  <div class="review-name">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="review-name-text">
    <h3><%= review.user.first_name %></h3>
    <p><%= review.user.last_name %></p>
  </div>
  </div>
  <div class="review-body">
    <p><strong> <%= link_to review.toothbrush.name, toothbrush_path(review.toothbrush.id) %> - <%= review.toothbrush.material %></strong></p>
    <p>
      <%= review.content %>
    </p>
  </div>

</div>
<% end %>
